/* * {
    border: 1px solid olive;
    
} */
@font-face {
    font-family: "Spooky Light";
    src: url("../Assets/spooky_light\ font/Spooky Light.ttf");
    }
body {
    background-color: black;
    height: 100%;
    margin: 0 auto;
}
video {
    margin: 0 auto;
    height: 100%; 
}
div{
    display: flex;
    justify-content: center;
   
}
.title{
    color: ghostwhite;
    z-index: 2;
    position: fixed;
    text-align: center;
    font-family: 'Spooky Light';
    font-size: 100px;
}
#black{
    font-size: 150px;
}
#heart{
    color: red;
    padding-top: 140px;
}
#mansion{
    padding-top: 210px;
}

/*==--->>Mute button styles<<---===*/
button {
    display: flex;
    justify-content: center;
    z-index: 2;
    transform: translate(-50%, -50%);
    background: rgba(115, 67, 167, 0.8);
    opacity: 0.6;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
  }


